<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com/profile.php?id=100061093694046&mibextid=ZbWKwL"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100061093694046&mibextid=ZbWKwL"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/abdul-sami-40b24437a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.linkedin.com/in/abdul-sami-40b24437a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://wa.me/+923228483029" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="tel:+923228483029"><i class="fa-solid fa-phone"></i></a>
        </div>
        <div class="f-info-brand">
             &copy Wonder Lust Private Limited
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            &nbsp;
            <a href="/privacy">Terms</a>
        </div>
    </div>
</footer>