<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonderLust</title>
     <link rel="icon" type="image/svg+xml" 
     href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f2242d' viewBox='0 0 512 512'%3E%3Cpath d='M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm86.6 117.6-48 112c-2.7 6.4-7.8 11.5-14.2 14.2l-112 48c-5.4 2.3-11.5 1-15.6-3.1s-5.4-10.2-3.1-15.6l48-112c2.7-6.4 7.8-11.5 14.2-14.2l112-48c5.4-2.3 11.5-1 15.6 3.1s5.4 10.2 3.1 15.6z'/%3E%3C/svg%3E">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/rating.css">
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v3.8.0/maptiler-sdk.css" rel="stylesheet" />
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v3.8.0/maptiler-sdk.umd.min.js"></script>
</head>
<body>
    <%- include("../includes/navbar.ejs") %>
    <div class="container">
        <%- include("../includes/flash.ejs")  %>
       
    <%- body %>

    
    
    </div>
    <%- include("../includes/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>



